<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <script src="https://api.map.baidu.com/api?v=1.0&&type=webgl&ak=EtGdDW2jYTtiQqWPFVFiAuxTIWY3VZD4"></script>
    <script src="<%= context.config.publicPath +'leaflet/leaflet.js'%>"></script>
    <link rel="stylesheet" href="<%= context.config.publicPath +'leaflet/leaflet.css'%>">
    <style type="text/css">  
      html{height:100%}    
      body{height:100%;margin:0px;padding:0px}     
  </style> 
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
